*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;

} 
body{
    background-color: rgb(17, 13, 41);
    line-height: 25px;
   
 }
.hero{
background-color: rgb(17, 13, 41);
height: 90vh;
display: flex;
justify-content:space-between;
align-items: center;
margin: 20px;
}
.descripcion h1{
    text-align:start;
    padding: 0;
    font-size: 50px;
    color: white;
    margin: 40px;

}
.descripcion h2{
    text-align:start;
    padding: 0;
    font-size: 40px;
    color: white;
    margin: 40px;
}
.descripcion p{
    text-align:start;
    font-size: 20px;
    padding: 0 ;
    color: white;
    margin: 40px;
}
.contenedorbtn{
    display: flex;
    justify-content: start;
    text-align: center;
    font-size: 20px;
    height: 40px;
    margin: 40px;
}
.contenido svg{
    width: 30px;
    height: 30px;
    color: #00bfff;
}

.menu{
    display: flex;
    min-height: 20px;
    background-color:rgb(17, 13, 41) ;
    padding:0;
    align-items:center;
    font-size: 20px;

}

header{
    display: flex;
    min-height: 70px;
    background-color:rgb(17, 13, 41) ;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
header .logo{
    margin: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: rgb(250, 250, 250);
    cursor: pointer;
    text-transform:initial;
}
nav a{
    font-weight: 600;
    padding-right: 50px;
}
nav a:hover{
    color: red;
}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
.cv{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}
button{
    background-color: rgb(88, 179, 240);
    color: white;
    padding: 8px 20px 8px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(13, 164, 234);
    transition: transform 0.3s, background-color 0.3s;
}
button:hover{
    background-color:rgb(255, 255, 255);
    transform:scale(1.1);
    color: black;
}
.hero img{
    width: 20%;
    border-radius: 30px;
    margin: 70px;
}
.hero img:hover{
    box-shadow:10px 10px 10px 10px rgb(13, 164, 234);
}

.sobremi img{
    display: flex;
    margin-left: 50px;
    height: 350px;
    width: 240px;
    border-radius: 30px;


}
.contenido{
    display: flex;
    color: white;
    margin: 40px;
    flex-direction: column;
}
.contenido h2{
    display: flex;
    justify-content: center;
    margin: 5%;
    hyphens: manual;

}
.conteiner{
    display: flex;
    gap: 20px;
}
.conteiner h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding: 3px;
}
.card{
    justify-content: center;
    padding: 25px;
    border: 2px solid #00bfff;
    text-align: center;
    border-radius: 20px;
    background: #2c354b;
    width: 25%;

}
.card:hover{
    box-shadow: 5px 5px 20px rgb(13, 164, 234);
}
.card img{
    display: flex;
    text-align: center;
    width:30%;
    height:30px;
}
.conteiner .card{
    display: block;
    margin: 40px;
}
.card p{
padding: 10px;
text-align: start;
}
.card h3{
    display: flex;
    justify-content: center;
    text-align: center;
}
.proyecto{
    height: 100vh;
}

span{
    color:rgb(13, 164, 234);
}
.sobremi{
    font-size: 20px;
    color: white;
    margin: 0;   
}
.sobremi{
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    height: 80vh;

}
.sobremi{
    
    background:linear-gradient(rgba(5, 7, 12, 0.75),rgba(5,7, 12, 0.75 )),
    url(https://images.unsplash.com/photo-1529078155058-5d716f45d604?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center;
    width: 100%;
    background-size: cover; 
}

.sobremi h2{
    text-align:center;
    padding: 0px 30px 20px 0px;
    font-size: 30px;
    color: white;
    margin: 30px;
}
.sobremi p{
    display: flex;
    justify-content: flex-end;
    text-align:start;
    color: white;
    padding: 0px 30px 20px 0px;
}
.acerca p{
    text-align: justify;
    margin-left: 5px;
}
.acerca{
    font-size: 20px;
    font-stretch: expanded;
    color: white;
    text-shadow: 1px 1px #000;
    padding: 0px 20px 0px 40px;


}
.acerca h2{
    text-align:start;
    justify-content: space-evenly;
    align-items: center;
}
.acerca button{
    display: flex;
    justify-content: flex-start;
}
.misproyectos img{
    margin-left: 70px;
    width: 23%;
    height: 200px;
    border-radius: 20%;
    padding: 20px 10px;
}
.proyecto h2{
color: white;
display:flex;
justify-content: center;
margin: 5%;
}
footer{
    height: 130vh;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formconteiner{
    margin-top: 50px;
    text-align: center;
    padding: 20px 20px 30px 20px;
}
form{
    padding: 20px;
    border-radius: 15px;
    width: 700px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
form:hover{
    box-shadow:0 0 20px rgb(13, 164, 234);
}
.formgroup{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    margin-bottom: 40px;
}
.formcontent{
    display: flex;
    flex-direction: column;
}
input, textarea{
    padding: 20px 15px;
    background-color: #2c354b;
    border: 0;
    outline: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
}
::placeholder{
    color: #e7e9ec;
    font-size: 16px;
}
textarea{
    height: 150px;
    margin-bottom: 40px;
}

.btnfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
}
