*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
} 
body{
    background-color: rgb(17, 13, 41);
    line-height: 25px;
   
 }
.hero{
background-color: rgb(17, 13, 41);
height: 70vh;
display: flex;
justify-content:space-between;
align-items: center;
margin: 20px;
}
.descripcion h1{
    text-align:start;
    padding: 0;
    font-size: 40px;
    color: white;
    margin: 40px;

}
.descripcion h2{
    text-align:start;
    padding: 0;
    font-size: 30px;
    color: white;
    margin: 40px;
}
.descripcion p{
    text-align:start;
    font-size: 20px;
    padding: 0 ;
    color: white;
    margin: 40px;
}
.contenedorbtn{
    display: flex;
    justify-content: start;
    text-align: center;
    padding: 5px;
    margin: 40px;
}


.menu{
    display: flex;
    min-height: 20px;
    background-color:rgb(17, 13, 41) ;
    padding: 10px ;
    align-items:center;
}
header{
    display: flex;
    min-height: 70px;
    background-color:rgb(17, 13, 41) ;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(250, 250, 250);
    cursor: pointer;
    text-transform:initial;
}
nav a{
    font-weight: 600;
    padding-right: 70px;
}
nav a:hover{
    color: red;
}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
.charla{
    display: flex;
    justify-content: center;
}
button{
    background-color: rgb(88, 179, 240);
    color: rgb(5, 5, 5);
    padding: 8px 20px 8px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(13, 164, 234);
    transition: transform 0.3s, background-color 0.3s;
}
button:hover{
    background-color:rgb(255, 255, 255);
    transform:scale(1.1);
}
.hero img{
    width: 20%;
    border-radius: 5px;
    margin: 70px;
}
.hero img:hover{
    box-shadow:10px 10px 10px 10px rgb(13, 164, 234); 
}

.sobremi img{
    width: 50%;
    border-radius: 5px;

}
.contenido{
    display: flex;
    color: white;
    margin: 40px;
    flex-direction: column;
}
.contenido h2{
    display: flex;
    justify-content: center;
    margin: 5%;


}
.conteiner{
    display: flex;
    gap: 20px;
}
.card{
    justify-content: center;
    padding: 25px;
    border: 2px solid #00bfff;
    text-align: center;
    border-radius: 2px;
    background: #2c354b;
    width: 25%;

}
.card:hover{
    box-shadow: 5px 5px 20px rgb(13, 164, 234);
}
.card img{
    display: flex;
    text-align: center;
    width:30%;
    height:30px;
}
.card p{
padding: 10px;
text-align: start;
}
.card h3{
    display: flex;
    justify-content: center;
    text-align: center;
}
.proyecto{
    height: 100vh;
}

span{
    color:rgb(13, 164, 234);
}
.sobremi{
    text-align:center;
    padding: 0px 30px 20px 0px;
    font-size: 20px;
    color: white;
    margin: 5px;
    
    
}
.sobremi{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url();
    height: 80vh;
}
.sobremi h2{
    text-align:center;
    padding: 0px 30px 20px 0px;
    font-size: 30px;
    color: white;
    margin: 30px;
}
.sobremi p{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align:start;
    color: white;
    padding: 0px 30px 20px 0px;
}
.acerca h2{
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.acerca button{
    display: flex;
    justify-content: flex-start;
}
.misproyectos img{
    width: 25%;
    border:10px;
    padding: 50px;
}
.proyecto h2{
color: white;
display:flex;
justify-content: center;
margin: 5%;
}
footer{
    height: 100vh;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formconteiner{
    margin-top: 50px;
    text-align: center;
}
form{
    padding: 20px;
    background:linear-gradient(
        50deg,
        rgb(49, 63, 135)0%,
        rgb(49, 63, 135)50%
        rgb(49, 63, 135)100%
    );
    border-radius: 15px;
    box-shadow:0 0 20px #3f5794;
    width: 550px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.formgroup{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    margin-bottom: 40px;
}
.formcontent{
    display: flex;
    flex-direction: column;
}
input, textarea{
    padding: 20px 15px;
    background-color: #3f5794;
    border: 0;
    outline: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
}
::placeholder{
    color: #e7e9ec;
    font-size: 16px;
}
textarea{
    margin-bottom: 40px;
}
.btnfotm{
    padding: 8px 20px 8px 20px;
    height: 30px;
    align-self: center;
    text-transform: capitalize;
    color: white;
    font-size:16px ;
}